body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    box-shadow: 0 3px 6px rgba(red, green, blue, alpha);

}
header img {
    width: 100px;
}
li{
    display: inline;
    margin: right 20px;

}
li a {
    text-decoration: mone;
    color: darkred;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#intro{
    text-align: center;
}
#intro> h1{
    color: burlywood;
    text-align: center;
    text-decoration: underline;
}
intro p{
    text-align: left;
    width: 80;
    margin: 30 auto;
    color: indigo;
}
#contact {
    text-align: center;
    background-color: bisque;
    margin: auto;
}
#contact h1 {
    color: maroon;

}
input {
    width: 40;
}
a:link {
    color: green;
}
a:visited {
    color: tomato;

}